<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>Заголовок</h1>
<h2>Заголовок</h2>
<h3>Заголовок</h3>
<h4>Заголовок</h4>
<h5>Заголовок</h5>
<h6>Заголовок</h6>

<p>asd sad asd  sad</p>
<p>asd sad asd  sad</p>
<p>asd <b>sad</b> asd  sad</p>
<p>asd <i>sad</i> asd  sad</p>

<h2>Список</h2>
<ul>
  <li>C#</li>
  <li>Java</li>
  <li>JavaScript</li>
</ul>

<h2>Table</h2>
<table>
  <tr>
    <th>firstName</th>
    <th>lastName</th>
    <th>age</th>
    <th>email</th>
  </tr>

  <tbody>
  <tr>
    <td>Vasya</td>
    <td>Pypkin</td>
    <td>28</td>
    <td>pypkin@ukr.net</td>
  </tr>
  <tr>
    <td>Ivanna</td>
    <td>Pypkina</td>
    <td>23</td>
    <td>pypkina@ukr.net</td>
  </tr>
  </tbody>
</table>

<h2>Select</h2>

<select name="job">
  <option value="student" selected>student</option>
  <option value="teacher">teacher</option>
  <option value="developer">developer</option>
</select>

<h2>Select Multiple</h2>

<select name="job2" multiple size="3">
  <option value="student" selected>student</option>
  <option value="teacher">teacher</option>
  <option value="developer">developer</option>
</select>

<h2>Select</h2>

<input type="radio" name="gander" value="f">Жінка</input>
<input type="radio" name="gander" value="m">Чоловік</input>


<h2>Text input</h2>

<label for="first_name">Username</label>
<input type="text" id="first_name" name="first_name" placeholder="username">
<label for="pass">Password</label>
<input type="password" id="pass" name="pass" placeholder="pass">


<h2> Button </h2>
<input type="submit" name="asds" value="add">

<button type="submit">Add</button>



<h2> Form Auth </h2>
<form action="/login" method="post">

  <label for="first_name">Username</label>
  <input type="text" id="name" name="firstname" placeholder="username"><br>
  <label for="password">Password</label>
  <input type="password" id="password" name="password" placeholder="pass">


  <input type="submit" name="asds" value="add">
</form>

<h2>Image</h2>

<img src="img/car.jpg" alt="car name">

<a href="/home">go to home</a>

</body>
</html>